$primaryFont: Verdana;
$primary-color: rgba(97, 131, 234, 0.659);

@mixin gradient($color1, $color2){
    background: linear-gradient($color1,$color2);
}

@mixin flexCenter($center, $direction) {
    display: flex;
    justify-content: $center;
    flex-direction: $direction;
}

@keyframes type {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
 @keyframes blink {
    0%,
    100% {
      border-color: transparent;
    }
    50% {
      border-color: $primary-color;
    }
}

body {
    @include flexCenter(space-evenly, column);
    font-family: $primaryFont;
    height: 100vh;
    @include gradient(white, rgba(53, 95, 247, 0.456))
}

.h1-wrapper {
    @include flexCenter(center, row);    
}

h1 {
    color: $primary-color;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid $primary-color;
    animation: type 3s 0.5s steps(30, end) forwards,
  blink .5s step-end 4;
}

.main-container {
    @include flexCenter(center, row);
    gap: 20px;
}

.income-cont, .expense-cont {
    padding: 30px;
}

#statement {
    @include flexCenter(space-between, row);
    padding: 50px;
}

input {
    padding: 10px;
}

button {
    background-color: $primary-color;
    border: none;
    color: rgb(253, 251, 251);
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.income-title, .expense-title {
    @include flexCenter(space-between, row);
    padding-left: 5px;
    padding-right: 5px;
}

#incomeTable, #expenseTable{
    background-color: rgb(239, 236, 236);
    box-shadow: 5px 5px 10px rgba(47, 46, 46, 0.416);
    height: 350px;
    overflow: auto;
    width: 49%;
}

.titlewrapper{
    background-color: $primary-color;
    border-bottom: solid 1px black ;
    position:sticky;
    top: 0;
    padding: 5px;
}

.balance{
    @include flexCenter(center, column);
    align-items: center;
    font-size: 24px;
}

.red{
    color: red;
}

.green{
    color: green;
}

h4 {
    font-weight: normal;
}

